@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--color-milk: #fffcf5;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

/* Define Maragsa font */
@font-face {
	font-family: 'Maragsa';
	src: url('/fonts/maragsa/Maragsa-Display.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

/* Define Garet font */
@font-face {
	font-family: 'Garet';
	src: url('/fonts/garet/Garet-Book.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Garet';
	src: url('/fonts/garet/Garet-Heavy.woff2') format('woff2');
	font-weight: 700;
	font-style: bold;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

body {
	height: 100%;
	margin: 0;
	background-color: var(--color-milk);
	font-family: 'Garet', sans-serif;
}

ul {
	font-family: 'Garet', sans-serif;
	text-transform: uppercase;
}
